<button mat-raised-button color="primary" class="espacios" [routerLink]="['/']">Atras</button>

<h3 class="espacios">Datos Personales</h3>

<div *ngIf="!trabajadorData">
    cargando...
</div>

<div class="espacios" *ngIf="trabajadorData">
    <p> Nombre: {{trabajadorData.nombre}} </p>
    <p> Apellidos: {{trabajadorData.apellidos}} </p>
    <p> Salario: {{trabajadorData.salario}} </p>
    <p> Correo: {{trabajadorData.correo}} </p>
</div>


<button mat-raised-button color="primary" class="espacios" (click)="openDialog()">Editar</button>